@tailwind base;
@tailwind components;
@tailwind utilities;

.moving-gradient {
  @apply bg-gradient-to-r from-custom-start via-custom-mid to-custom-end;
  background-size: 200% 200%;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; 
  animation: gradient-bg 16s ease infinite;
}

.nav-gradient {
  @apply bg-gradient-to-r from-custom-nav-bg to-custom-nav-bg-2;
  background-size: 200% 200%;
  position: fixed;
  z-index: 10;
  animation: nav-gradient-bg 5s ease infinite; 
}

.nav-gradient-2 {
  @apply bg-gradient-to-r from-custom-nav-bg to-custom-nav-bg-3;
  background-size: 200% 200%;
  position: fixed;
  z-index: 20; 
  animation: nav-gradient-bg-2 15s ease infinite; 
}

@keyframes draw-border {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.border-rotate {
  position: relative;
  z-index: 20;
  animation: rotate-border 2s linear infinite; 
}


@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-draw {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  overflow: hidden;
  //z-index: 11; 
  border-bottom: 2px solid transparent;
  animation: draw-border 0.5s ease forwards; 
}

.border-draw::before {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0; 
  height: 1px;
  width: 100%;
  background: #fff; 
  transform: scaleX(0);
  transition: transform 0.5s ease;
  //z-index: 2;

} 

.border-draw:hover::before {

  transform: scaleX(1);
}  

@keyframes nav-gradient-bg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes nav-gradient-bg-2 {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 50% 50%;
  }
  20% {
    background-position: 100% 100%;
  }
  30% {
    background-position: 75% 25%;
  }
  40% {
    background-position: 25% 75%;
  }
  50% {
    background-position: 100% 0%;
  }
  60% {
    background-position: 0% 100%;
  }
  70% {
    background-position: 50% 75%;
  }
  80% {
    background-position: 75% 50%;
  }
  90% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.shooting-stars {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  */
  z-index: -1;  
  overflow: hidden;
}

.shooting-stars::before, 
.shooting-stars::after,
.shooting-stars div:nth-child(1)::before,
.shooting-stars div:nth-child(2)::before,
.shooting-stars div:nth-child(3)::before {
  content: '';
  position: fixed;
  width: 2px;
  height: 100px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  animation: shootingStar 6s linear infinite;
  transform: rotate(-45deg);
}

.shooting-stars::before {
  top: -80%;
  right: -100px;
  animation-delay: 0s;
  transform: rotate(45deg);
}

.shooting-stars::after {
  top: -40%;
  right: -200px;
  animation-delay: 10s;
  transform: rotate(45deg);
} 

.shooting-stars div:nth-child(1)::before {
  top: 0%;
  right: -300px;
  animation-delay: 20s;
  transform: rotate(45deg);
}

.shooting-stars div:nth-child(2)::before {
  top: 30%;
  right: -400px;
  animation-delay: 30s;
  transform: rotate(45deg);
}

.shooting-stars div:nth-child(3)::before {
  top: 70%;
  right: -500px;
  animation-delay: 40s;
  transform: rotate(45deg);
} 

@keyframes shootingStar {
  0% {
    transform: translateX(0) translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-150vw) translateY(150vh) rotate(45deg);
    opacity: 0;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  
}

